---
---

// Import the theme's styles (this is critical)
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* --- Your Custom CSS --- */

// This targets the header button block
.page__hero-actions {
  margin-top: 8em; 
}

/* Center the feature row titles */
.feature__item-title {
  text-align: center;
}
